@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
/* Var-color */
/* Var-media */
/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

.container {
  padding: 0 20px;
  min-width: 340px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1444px) {
  .container {
    padding: 0 110px;
    width: 1444px;
    margin: 0 auto;
    background-image: url(../img/main_promo/index-background-desktop@1x.jpg);
    background-position: calc(50% + 360px) 0;
    background-repeat: no-repeat;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  min-height: 66px;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .page-header__logo {
    padding-top: 0;
    margin-top: 24px;
  }
}
@media (min-width: 1444px) {
  .page-header__logo {
    margin-top: 53px;
  }
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  margin-top: 23px;
  border: none;
  outline: none;
  background-color: #ffffff;
  background-image: url(../img/page_header/icon-close.svg);
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav {
  width: 100%;
  text-align: center;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1444px) {
  .main-nav__list {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item {
  height: 66px;
}
@media (max-width: 767px) {
  .main-nav__item {
    margin: 0 -20px;
    border-top: 1px solid #E6E6E6;
    padding-top: 22px;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-top: 42px;
  }
  .main-nav__item:nth-child(2) {
    margin-left: 34px;
  }
  .main-nav__item:nth-child(3) {
    margin-left: 36px;
  }
}
@media (min-width: 1444px) {
  .main-nav__item {
    margin-top: 71px;
  }
  .main-nav__item:nth-child(2) {
    margin-left: 37px;
  }
  .main-nav__item:nth-child(3) {
    margin-left: 32px;
  }
}

.main-nav__item a {
  color: #000000;
}
.main-nav__item a:hover, .main-nav__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 1444px) {
  .main-nav__item a:hover, .main-nav__item a:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}
.main-nav__item a:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1444px) {
  .main-nav__item a:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1444px) {
  .main-nav__item a {
    color: #ffffff;
  }
}

.main-nav__link {
  position: relative;
}
.main-nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #68B738;
}
@media (min-width: 1444px) {
  .main-nav__link--active::after {
    background-color: #ffffff;
  }
}

.button {
  border: none;
  outline: none;
  background-color: #68B738;
  color: #ffffff;
  font-family: "Oswald";
}
.button:focus, .button:hover {
  background-color: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .main-promo__wrapper {
    position: relative;
    min-height: 305px;
    margin: 0 -20px;
    background-color: #5EAA2F;
    background-image: url(../img/main_promo/index-background-mobile@1x.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 767px) {
  .main-promo {
    position: relative;
    color: #ffffff;
    font-family: "Oswald";
    text-align: center;
  }
}
@media (min-width: 768px) {
  .main-promo {
    min-height: 810px;
    position: relative;
  }
}
@media (min-width: 1444px) {
  .main-promo {
    min-height: 559px;
  }
}

.main-promo__title {
  font-family: "Oswald";
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .main-promo__title {
    padding: 0;
    margin-top: 32px;
    margin-left: 87px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1444px) {
  .main-promo__title {
    margin-top: 0;
    margin-left: 80px;
    padding-top: 88px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-promo__subtitle {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-promo__subtitle {
    margin-top: 41px;
    margin-left: 87px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1444px) {
  .main-promo__subtitle {
    margin-top: 40px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-promo__img {
  position: absolute;
  min-width: 280px;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  left: -30px;
  right: 0;
}
@media (min-width: 768px) {
  .main-promo__img {
    min-width: 609px;
    z-index: -1;
    bottom: 0;
  }
}
@media (min-width: 1444px) {
  .main-promo__img {
    min-width: 552px;
    top: 152px;
    left: 226px;
    top: 0;
    bottom: auto;
  }
}

.main-promo__button {
  margin-top: 135px;
  height: 42px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-promo__button {
    margin-top: 49px;
    height: 54px;
    width: 244px;
    font-size: 20px;
    line-height: 0px;
    margin-left: 83px;
  }
}
@media (min-width: 1444px) {
  .main-promo__button {
    margin-top: 52px;
    margin-left: 80px;
  }
}

.page-main__catalog {
  margin-top: 20px;
}

.catalog-preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-preview__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.preview-item__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 24px;
  border-radius: 50%;
  background-color: #68B738;
}
.preview-item__icon--thin::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  left: 7px;
  bottom: 3px;
  background-image: url(../img/prewiev_item/icon-cat-slim.svg);
  background-repeat: no-repeat;
}
.preview-item__icon--power::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  left: -9.5px;
  bottom: 11px;
  background-image: url(../img/prewiev_item/icon-cat-pro.svg);
  background-repeat: no-repeat;
}

.preview-item__title {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 30px;
  margin-left: 19px;
  text-transform: uppercase;
}

.preview-item__description {
  width: 95%;
  margin-top: 22px;
  font-family: "Arial";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.preview-item__link {
  height: 57px;
  width: 100%;
  margin-top: 23px;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
}
.preview-item__link a {
  position: relative;
  color: #000000;
  font-family: "Oswald";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.preview-item__link a::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  margin-left: 17px;
  top: 7px;
  background-image: url(../img/prewiev_item/icon-right-arrow-long.svg);
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */
