@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
/* Var-color */
/* Var-media */
/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
}

.container {
  padding: 0 20px;
  min-width: 340px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1444px) {
  .container {
    padding: 0 110px;
    width: 1444px;
    margin: 0 auto;
    background-image: url(../img/main_promo/index-background-desktop@1x.jpg);
    background-position: calc(50% + 360px) 0;
    background-repeat: no-repeat;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  min-height: 66px;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .page-header__logo {
    padding-top: 0;
    margin-top: 24px;
  }
}
@media (min-width: 1444px) {
  .page-header__logo {
    margin-top: 53px;
  }
}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  margin-top: 23px;
  border: none;
  outline: none;
  background-color: #ffffff;
  background-image: url(../img/page_header/icon-close.svg);
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav {
  width: 100%;
  text-align: center;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1444px) {
  .main-nav__list {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item {
  height: 66px;
}
@media (max-width: 767px) {
  .main-nav__item {
    margin: 0 -20px;
    border-top: 1px solid #E6E6E6;
    padding-top: 22px;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-top: 42px;
  }
  .main-nav__item:nth-child(2) {
    margin-left: 34px;
  }
  .main-nav__item:nth-child(3) {
    margin-left: 36px;
  }
}
@media (min-width: 1444px) {
  .main-nav__item {
    margin-top: 71px;
  }
  .main-nav__item:nth-child(2) {
    margin-left: 37px;
  }
  .main-nav__item:nth-child(3) {
    margin-left: 32px;
  }
}

.main-nav__item a {
  color: #000000;
}
.main-nav__item a:hover, .main-nav__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 1444px) {
  .main-nav__item a:hover, .main-nav__item a:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}
.main-nav__item a:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1444px) {
  .main-nav__item a:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1444px) {
  .main-nav__item a {
    color: #ffffff;
  }
}

.main-nav__link {
  position: relative;
}
.main-nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #68B738;
}
@media (min-width: 1444px) {
  .main-nav__link--active::after {
    background-color: #ffffff;
  }
}

.button {
  border: none;
  outline: none;
  background-color: #68B738;
  color: #ffffff;
  font-family: "Oswald";
}
.button:focus, .button:hover {
  background-color: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .main-promo__wrapper {
    position: relative;
    min-height: 305px;
    margin: 0 -20px;
    background-color: #5EAA2F;
    background-image: url(../img/main_promo/index-background-mobile@1x.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 767px) {
  .main-promo {
    position: relative;
    color: #ffffff;
    font-family: "Oswald";
    text-align: center;
  }
}
@media (min-width: 768px) {
  .main-promo {
    min-height: 810px;
    position: relative;
  }
}
@media (min-width: 1444px) {
  .main-promo {
    min-height: 559px;
  }
}

.main-promo__title {
  font-family: "Oswald";
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .main-promo__title {
    padding: 0;
    margin-top: 32px;
    margin-left: 87px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1444px) {
  .main-promo__title {
    margin-top: 0;
    margin-left: 80px;
    padding-top: 88px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-promo__subtitle {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 14px;
  margin-top: 25px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-promo__subtitle {
    margin-top: 41px;
    margin-left: 87px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1444px) {
  .main-promo__subtitle {
    margin-top: 40px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-promo__img {
  position: absolute;
  min-width: 280px;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  left: -30px;
  right: 0;
}
@media (min-width: 768px) {
  .main-promo__img {
    min-width: 609px;
    z-index: -1;
    bottom: 0;
  }
}
@media (min-width: 1444px) {
  .main-promo__img {
    min-width: 552px;
    top: 152px;
    left: 226px;
    top: 0;
    bottom: auto;
  }
}

.main-promo__button {
  margin-top: 135px;
  height: 42px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-promo__button {
    margin-top: 49px;
    height: 54px;
    width: 244px;
    font-size: 20px;
    line-height: 0px;
    margin-left: 83px;
  }
}
@media (min-width: 1444px) {
  .main-promo__button {
    margin-top: 52px;
    margin-left: 80px;
  }
}

.page-main__catalog {
  margin-top: 20px;
}

.catalog-preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1444px) {
  .catalog-preview {
    flex-direction: row;
    gap: 80px;
    margin-top: 72px;
  }
}

.catalog-preview__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-preview__item {
    flex-direction: column;
    position: relative;
    min-height: 372px;
    padding-left: 52px;
  }
}
@media (min-width: 1444px) {
  .catalog-preview__item {
    flex-direction: row;
    flex: 1;
    min-width: 374px;
  }
}

.preview-item__icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 24px;
  border-radius: 50%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .preview-item__icon {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 62px;
    top: 81px;
  }
}
@media (min-width: 1444px) {
  .preview-item__icon {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 47px;
    width: 100px;
    height: 100px;
  }
}
.preview-item__icon--thin::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  left: 7px;
  bottom: 3px;
  background-image: url(../img/prewiev_item/icon-cat-slim.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .preview-item__icon--thin::after {
    width: 140px;
    height: 192px;
    bottom: 19px;
    left: 30px;
  }
}
@media (min-width: 1444px) {
  .preview-item__icon--thin::after {
    width: 70px;
    height: 97px;
    bottom: 9px;
    left: 19px;
  }
}
.preview-item__icon--power::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  left: -9.5px;
  bottom: 11px;
  background-image: url(../img/prewiev_item/icon-cat-pro.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .preview-item__icon--power::after {
    width: 268px;
    height: 112px;
    bottom: 44px;
    left: -36px;
  }
}
@media (min-width: 1444px) {
  .preview-item__icon--power::after {
    width: 134px;
    height: 56px;
    bottom: 24px;
    left: -19px;
  }
}

.preview-item__title {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 30px;
  margin-left: 19px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .preview-item__title {
    margin-left: 1px;
    margin-top: 77px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1444px) {
  .preview-item__title {
    margin-left: 62px;
    margin-top: 77px;
    font-size: 36px;
    line-height: 36px;
  }
}

.preview-item__description {
  width: 95%;
  margin-top: 22px;
  font-family: "Arial";
  color: #444444;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .preview-item__description {
    width: 60%;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1444px) {
  .preview-item__description {
    width: 95%;
    margin-top: 39px;
    font-size: 16px;
    line-height: 24px;
  }
}

.preview-item__link {
  height: 57px;
  width: 100%;
  margin-top: 23px;
  padding-top: 19px;
}
@media (max-width: 767px) {
  .preview-item__link {
    border-top: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .preview-item__link {
    margin-top: 48px;
    padding: 0;
  }
}
@media (min-width: 1444px) {
  .preview-item__link {
    margin-top: 23px;
    padding: 0;
  }
}
.preview-item__link a {
  position: relative;
  color: #000000;
  font-family: "Oswald";
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .preview-item__link a {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .preview-item__link a {
    margin-top: 27px;
    font-size: 20px;
    line-height: 30px;
  }
}
.preview-item__link a::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  margin-left: 17px;
  top: 7px;
  background-image: url(../img/prewiev_item/icon-right-arrow-long.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .preview-item__link a::after {
    top: 10px;
    margin-left: 25px;
  }
}

.page-main__features {
  margin-top: 27px;
}
@media (min-width: 768px) {
  .page-main__features {
    margin-top: 45px;
  }
}
@media (min-width: 1444px) {
  .page-main__features {
    margin-top: 71px;
  }
}

.features__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  margin-top: 38px;
}
@media (min-width: 768px) {
  .features__list {
    margin-top: 32px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 37px;
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .features-list {
    justify-content: space-between;
  }
}

.features-list__item {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}
.features-list__item span {
  display: none;
}
@media (min-width: 768px) {
  .features-list__item span {
    display: block;
    position: absolute;
    z-index: -1;
    left: 118px;
    top: -40px;
    color: #f2f2f2;
    font-family: "Oswald";
    font-size: 280px;
    line-height: 280px;
  }
}
@media (min-width: 1444px) {
  .features-list__item span {
    left: auto;
    right: 0;
  }
}
@media (min-width: 768px) {
  .features-list__item {
    flex-direction: column;
    width: 50%;
    min-height: 280px;
    align-items: start;
    gap: 31px;
  }
}
@media (min-width: 1444px) {
  .features-list__item {
    width: auto;
  }
}

.features-list__icon {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #68B738;
}
.features-list__icon img {
  align-self: center;
}
@media (min-width: 768px) {
  .features-list__icon {
    width: 80px;
    height: 80px;
  }
}

.features-list__description {
  flex: 1;
  font-family: "Arial";
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .features-list__description {
    width: 210px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper {
  margin: 0 -20px;
  margin-top: 42px;
  padding: 0 20px;
  padding-top: 27px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__wrapper {
    margin: 0 -30px;
    padding: 0;
    margin-top: 0;
    border-top: 1px solid #cdcdcd;
    background-color: #ffffff;
  }
}
@media (min-width: 1444px) {
  .example__wrapper {
    margin: 0 -110px;
    background-color: #f2f2f2;
    border: none;
  }
}

@media (min-width: 768px) {
  .example {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    margin: 0 30px;
    margin-top: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1444px) {
  .example__title {
    width: 100%;
    margin: 0;
    padding-left: 110px;
    padding-bottom: 76px;
    background-color: #ffffff;
  }
}

.example__description {
  margin-top: 33px;
  font-family: "Arial";
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .example__description {
    width: 100%;
    margin: 0 30px;
    margin-top: 63px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1444px) {
  .example__description {
    width: 100%;
    margin: 0;
    margin-left: 110px;
    margin-top: 70px;
    padding-right: 894px;
  }
}

.example__list {
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .example__list {
    margin-left: 30px;
    gap: 42px;
  }
}
@media (min-width: 1444px) {
  .example__list {
    margin-left: 110px;
    margin-top: 69px;
    width: 100%;
    justify-content: start;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__item {
    width: 162px;
    height: 72px;
  }
}

.example__progress {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .example__progress {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__action {
  position: absolute;
  bottom: -16px;
  padding: 0 16px;
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .example__action {
    bottom: -6px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
  .example__action br {
    display: none;
  }
}
@media (min-width: 1444px) {
  .example__action {
    background-color: #f2f2f2;
  }
}

.example__expenses {
  margin-top: 34px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__expenses {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1444px) {
  .example__expenses {
    flex-direction: row;
    gap: 63px;
    width: 30%;
    margin-left: 110px;
    margin-top: 55px;
    padding-bottom: 75px;
  }
}

.example__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media (min-width: 768px) {
  .example__slider {
    width: 100%;
    min-height: 462px;
    margin-top: 250px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1444px) {
  .example__slider {
    width: 50%;
    min-height: auto;
    margin-top: 0;
    margin-right: 110px;
    background-color: #f2f2f2;
  }
}

.slider__img {
  margin-top: 44px;
  align-self: center;
}
@media (min-width: 768px) {
  .slider__img {
    position: absolute;
    top: -191px;
  }
}
@media (min-width: 1444px) {
  .slider__img {
    position: absolute;
    top: -291px;
  }
}

.slider__progress {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 25px;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .slider__progress {
    padding: 0;
    padding-bottom: 67px;
    gap: 20px;
  }
}
@media (min-width: 1444px) {
  .slider__progress {
    justify-content: end;
    padding: 0;
    padding-bottom: 68px;
    gap: 20px;
  }
}

.slider__description {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .slider__description {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__bar {
  position: relative;
  align-self: center;
  width: 30%;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .slider__bar::before {
    content: "";
    position: absolute;
    width: calc(50% - 12px);
    height: 6px;
    top: 4px;
    left: 6px;
    background-color: #68B738;
    border-radius: 6px;
  }
}
@media (min-width: 768px) {
  .slider__bar {
    width: 56%;
    height: 6px;
    background-color: #cdcdcd;
  }
}

@media (min-width: 768px) {
  .slider__control {
    position: absolute;
    left: 50%;
    top: -16px;
    width: 34px;
    height: 34px;
    background-color: #68B738;
    border: 13px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .slider__control:hover, .slider__control:focus {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
  }
  .slider__control:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    outline: 1px solid #68B738;
  }
}

.footer__wrapper {
  margin: 0 -20px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    margin: 0 -30px;
  }
}
@media (min-width: 1444px) {
  .footer__wrapper {
    margin: 0 -110px;
  }
}

.page-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1444px) {
  .page-footer {
    position: relative;
  }
}

.contact {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .contact {
    padding: 0 71px;
    min-height: 201px;
    padding: 0 30px;
  }
}
@media (min-width: 1444px) {
  .contact {
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 110px;
    width: 570px;
    min-height: 201px;
    background-color: #ffffff;
  }
}

.contact__title {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contact__title {
    font-size: 20px;
    line-height: 21px;
  }
}

.contact__address {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contact__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.map {
  min-height: 362px;
  background-image: url(../img/map/bg-map-mobile@1x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .map {
    min-height: 400px;
    background-image: url(../img/map/bg-map-tablet@1x.png);
  }
}
@media (min-width: 1444px) {
  .map {
    min-height: 400px;
    background-image: url(../img/map/bg-map-desktop@1x.png);
  }
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .information {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    padding: 0 30px;
  }
}
@media (min-width: 1444px) {
  .information {
    padding: 0 110px;
  }
}

.information__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  width: 100%;
  min-height: 63px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .social-list {
    width: auto;
    border: none;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 78px;
}
@media (min-width: 768px) {
  .copyright {
    width: auto;
  }
}

.copyright__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */
