.page-main__catalog{
    margin-top: 20px;
}

.catalog-preview{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width:$descktop-width){
        flex-direction: row;
        gap: 80px;
        margin-top: 72px;
    }

    
}

.catalog-preview__item{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $basic-background-color;

    @media (min-width: $tablet-width){
        flex-direction: column;
        position: relative;
        min-height: 372px;
        padding-left: 52px;
    }

    @media(min-width:$descktop-width){
        flex-direction: row;
        flex: 1;
        min-width: 374px;

    }
    
}

.preview-item__icon{
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 24px;
    border-radius: 50%;
    background-color: $basic-button-color;

    @media (min-width: $tablet-width){
        position: absolute;
        width: 200px;
        height: 200px;
        right: 62px;
        top: 81px;
    }

    @media(min-width:$descktop-width){
        position: relative;
        right: auto;
        top: auto;
        margin-top: 47px;
        width: 100px;
        height: 100px;
    }

    &--thin{
        &::after{
            content: "";
            position: absolute;
            width: 36px;
            height: 50px;
            left: 7px;
            bottom: 3px;
            background-image: url(../img/prewiev_item/icon-cat-slim.svg);
            background-repeat: no-repeat;

            @media (min-width: $tablet-width){
                width: 140px;
                height: 192px;
                bottom: 19px;
                left: 30px;
            }

            @media(min-width:$descktop-width){
                width: 70px;
                height: 97px;
                bottom: 9px;
                left: 19px;
            }
        }
    }    

    &--power{
        &::after{
            content: "";
            position: absolute;
            width: 67px;
            height: 28px;
            left: -9.5px;
            bottom: 11px;
            background-image: url(../img/prewiev_item/icon-cat-pro.svg);
            background-repeat: no-repeat;

            @media (min-width: $tablet-width){
                width: 268px;
                height: 112px;
                bottom: 44px;
                left: -36px;
            }

            @media(min-width:$descktop-width){
                width: 134px;
                height: 56px;
                bottom: 24px;
                left: -19px;
            }
        }    
    }
    
}

.preview-item__title{
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    margin-top: 30px;
    margin-left: 19px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        margin-left: 1px;
        margin-top: 77px;
        font-size: 36px;
        line-height: 36px;
    }

    @media (min-width: $descktop-width){
        margin-left: 62px;
        margin-top: 77px;
        font-size: 36px;
        line-height: 36px;
    }
}

.preview-item__description{
    width: 95%;
    margin-top: 22px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width){
        width: 60%;
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
    }

    @media (min-width: $descktop-width){
        width: 95%;
        margin-top: 39px;
        font-size: 16px;
        line-height: 24px;
    }

}

.preview-item__link{
    height: 57px;
    width: 100%;
    margin-top: 23px;
    padding-top: 19px;

    @media (max-width:$mobile-width-only){
        border-top: 1px solid #d9d9d9;
    }

    @media (min-width:$tablet-width){
        margin-top: 48px;
        padding: 0;
    }

    @media (min-width:$descktop-width){
        margin-top: 23px;
        padding: 0;
    }
    
    
    & a{
        position: relative;
        color: $basic-black-color;
        font-family: 'Oswald';
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;

        @media (min-width:$tablet-width){
            font-size: 20px;
            line-height: 30px;
        }

        @media (min-width:$tablet-width){
            margin-top: 27px;
            font-size: 20px;
            line-height: 30px;
        }

        // @media (min-width:$tablet-width){
        //     margin-top: 23px;
        // }

        &::after{
            content: "";
            position: absolute;
            width: 32px;
            height: 10px;
            margin-left: 17px;
            top: 7px;
            background-image: url(../img/prewiev_item/icon-right-arrow-long.svg);
            background-repeat: no-repeat;

            @media(min-width:$tablet-width){
                top: 10px;
                margin-left: 25px;
            }
        }

    }
}

