.page-main__features{
    margin-top: 27px;

    @media(min-width: $tablet-width){
        margin-top: 45px;
    }

    @media(min-width: $descktop-width){
        margin-top: 71px;
    }
}

.features__title{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    @media(min-width: $tablet-width){
        font-size: 60px;
        line-height: 60px;
    }
}

.features__list{
    margin-top: 38px;

    @media(min-width: $tablet-width){
        margin-top: 32px;
    }

}

.features-list{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-width){
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 37px;
        padding-top: 40px;
    }

    @media(min-width: $tablet-width){
        justify-content: space-between;
    }
    
}

.features-list__item{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;

    & span{
        display: none;

        @media(min-width: $tablet-width){
            display: block;
            position: absolute;
            z-index: -1;
            left: 118px;
            top: -40px;
            color: $basic-background-color;
            font-family: 'Oswald';
            font-size: 280px;
            line-height: 280px;
        }

        @media(min-width: $descktop-width){
            left: auto;
            right: 0;
        }
    }

    @media (min-width: $tablet-width){
        flex-direction: column;
        width: 50%;
        min-height: 280px;
        align-items: start;
        gap: 31px;    
    }

    @media(min-width: $descktop-width){
        width: auto;
    }

}

.features-list__icon{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $basic-button-color;

    & img{
        align-self: center;
    }

    @media(min-width:$tablet-width){
        width: 80px;
        height: 80px;
    }
}

.features-list__description{
    flex: 1;
    font-family: 'Arial';
    color: $special-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    @media (min-width:$tablet-width){
        width: 210px;
        font-size: 16px;
        line-height: 24px;
    }
}