.main-promo__wrapper{    

    @media(max-width: $mobile-width-only){
        position: relative;
        z-index: -1;
        min-height: 305px;
        margin: 0 -20px;
        background-color: $special-button-color;
        background-image: url(../img/main_promo/index-background-mobile@1x.jpg);
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        // box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }
}

.main-promo {

    
    @media(max-width: $mobile-width-only){
        position: relative;
        color: $basic-white-color;
        font-family: 'Oswald';
        text-align: center;
        
    }
}

.main-promo__title{
    padding-top: 27px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}

.main-promo__subtitle{
    font-size: 14px;
    line-height: 14px;
    padding-top: 25px;
    text-transform: uppercase;
}

.main-promo__img{
    position: absolute;
    min-width: 280px;
    bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.main-promo__button{
    margin-top:135px;
    height: 42px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

}
