.page-main__order{
    margin: 0 -20px;

    @media (min-width: $tablet-width){
        margin: 0 -30px;
    }

    @media (min-width: $descktop-width){
        margin: 0 -110px;
    }
}

.order-page__title{
    margin: 0 20px;
    padding-top: 27px;
    border-top: 1px solid $basic-border-color;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width){
        margin: 0 30px;
        margin-top: 64px;
        font-size: 60px;
        line-height: 60px;
        border: none;
    }

    @media (min-width: $descktop-width){
        margin: 0 110px;
        margin-top: 73px;
    }
}

.order-page__subtitle{
    margin-top: 37px;
    margin-left: 20px;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        margin-left: 70px;
        margin-top: 54px;
        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: $descktop-width){
        margin: 0 110px;
        margin-top: 56px;

    }
}

.order-form__wrapper{
    @media (min-width: $descktop-width){
        display: flex;
        gap: 80px;
        padding: 0 110px;
        margin-top: 66px;
    }
}

.order-form__main-info{
    margin-top: 39px;

    @media (min-width: $tablet-width){
        margin-top: 66px;
    }

    @media (min-width: $descktop-width){
        width: 569px;
        margin: 0;
    }
}

.main-form{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 0 20px;
    padding-bottom: 27px;

    @media (min-width: $tablet-width){
        gap: 20px;
        padding: 0 70px;
        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: $descktop-width){
        padding: 0;
    }
}

.main-form__item{
    display: flex;
    gap: 14px;

    @media (min-width: $tablet-width){
        gap: 18px;
        min-height: 53px;
    }

    
}

.main-form__item-name{
    width: max-content;
    align-self: center;
    color: $special-text-color;
    font-family:'Oswald';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.main-form__input{
    border: none;
    outline: none;
    flex: 1;
    padding: 0 15px;
    border: 1px solid $input-border-color;
    color: $special-text-color;
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;

    &:hover{
        border-color: $basic-border-color;
    }

    &:focus{
        border-color: $special-text-color;
    }

    &:invalid{
        border-color: $error-color;
    }

}

.programm-form__wrapper{
    @media (min-width: $tablet-width){
        padding: 0 70px;
        margin-top: 72px;
    }

    @media (min-width: $descktop-width){
        width: 568px;
        margin: 0;
        padding: 0;
    }
}

.programm-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 22px;
    border-top: 1px solid $basic-border-color;
    border-bottom: 1px solid $basic-border-color;

    @media (min-width: $tablet-width){
        gap: 18px;
        width: 100%;
        padding: 25px 28px;
        line-height: 30px;
        border: 1px solid $basic-border-color;
    }

    @media (min-width: $descktop-width){
        gap: 13px;;
    }
    
}

.programm-form__name{
    display: flex;
    position: relative;
    min-height: 30px;
    align-items: center;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        font-size: 20px;
        line-height: 30px;
    }

    

    &::before{
        content: "";
        width: 30px;
        height: 30px;
        margin-right: 15px;
        left:0;
        border: 1px solid $basic-border-color;
        border-radius: 50%;

        @media (min-width: $tablet-width){
            width: 40px;
            height: 40px;
        }
    }
}



.programm-form__radio:checked+.programm-form__name::after{
    content: "";
    position: absolute;
    width: 13.5px;
    height: 13.5px;
    left: 8.5px;
    background-color: $basic-button-color;
    border-radius: 50%;

    @media (min-width: $tablet-width){
        width: 18px;
        height: 18px;
        left: 11.5px;
    }
}



.order-form__contacts{
    margin-top: 26px;

    @media (min-width: $tablet-width){
        margin-top: 71px;
    }
}

.order-form__title{
    position: relative;
    min-height: 42px;
    padding-left: 20px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    overflow: hidden;

    @media (min-width: $tablet-width){
        padding-left: 70px;
        font-size: 36px;
        line-height: 36px;
    }

    @media (min-width: $descktop-width){
        padding-left: 110px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 13px;
        width: 100%;
        height: 2px;
        margin-left: 22px;
        background-color: $basic-button-color;

        @media (min-width: $tablet-width){
            margin-left: 42px;
            top: 19px;
        }
    }

    &::before{
        @media (min-width: $tablet-width){
            content: "";
            position: absolute;
            top: 19px;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: $basic-button-color;
        }

        @media (min-width: $descktop-width){
            width: 70px;
        }
    }

    &--contact{
        &::after{
            margin-left: 47px;
            @media (min-width: $tablet-width){
                margin-left: 42px;
            }
        }
    }

    & br{
        @media (min-width: $tablet-width){
            display: none;
        }
    }
}

.contacts-form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 20px;
    padding-top: 32px;
    padding-bottom: 27px;

    @media (min-width: $tablet-width){
        gap: 20px;
        padding: 0 70px;
        padding-top: 76px;
        padding-bottom: 65px;
    }

    @media (min-width: $descktop-width){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding: 0 110px;
        padding-top: 76px;
        padding-bottom: 69px;
    }
}

.contacts-form__item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 45px;

    @media (min-width: $tablet-width){
        gap: 18px;
        min-height: 52px;
    }
}

.contacts-form__name{
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    width: max-content;

    @media (min-width: $tablet-width){
        font-size: 20px;
        line-height: 30px;
    }
}

.contacts-form__input{
    flex: 1;
    border: none;
    outline: none;
    height: 45px;
    padding: 0 15px;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid $input-border-color; 

    &:hover{
        border-color: $basic-border-color;
    }

    &:focus{
        border-color: $special-text-color;
    }

    &:invalid{
        border-color: $error-color;
    }

    &:focus+.contact-form__icon{
        fill: $basic-button-color;
    }
}

.contact-form__icon{
    position: absolute;
    
    &--mail{
        right:19px;
        top: 20px;
    }

    &--phone{
        right:17px;
        top: 17px;
    }
}

.comment-form__wrapper{
    padding: 0 20px;
    margin-top: 34px;
    margin-bottom: 27px;

    @media (min-width: $tablet-width){
        padding: 0 70px;
        margin-top: 76px;
        margin-bottom: 65px;
    }

    @media (min-width: $descktop-width){
        padding: 0 110px;
        margin-top: 76px;
        margin-bottom: 67px;
    }

}

.order-form__placeholder{
    width: 100%;
    height: 150px;
    padding: 13px;
    border: none;
    outline: none;
    border: 1px solid $basic-border-color;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width){
        height: 174px;
        padding: 10px 19px;
        font-size: 20px;
        line-height: 30px;
        text-align-last: left;
    }
}

.additional-form{
    display: flex;
    flex-direction: column;
}

.additional-form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 34px;
    padding: 0 20px;

    @media (min-width: $tablet-width){
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 70px;
        margin-top: 57px;
        gap: 0;
        column-gap: 30px;
        row-gap: 32px;
    }

    @media (min-width: $descktop-width){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        padding: 0 110px;
    }
}

.additional-form__item{
    display: flex;
    align-items: center;
    min-height: 30px;

    

    @media (min-width: $tablet-width){
        min-height: 40px;
        width: 50%;
    }

    &:nth-child(2n){
        width: max-content;
    }
}

.additional-form__name{
    position: relative;
    font-family: 'Oswald';
    display: flex;
    align-items:center;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        font-size: 20px;
        line-height: 30px;
    }

    &::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid $basic-border-color;
        left: 0;
        margin-right: 16px;

        @media (min-width: $tablet-width){
            width: 40px;
            height: 40px;
        }
    }
}

.additional-form__checkbox:checked+.additional-form__name::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    left: 5.25px;
    background-image: url(../img/icon-tick.svg);
    background-repeat: no-repeat;

    @media (min-width: $tablet-width){
        left: 11.25px;
    }
}

.button__wrapper{
    padding: 0 20px;

    @media (min-width: $tablet-width){
        display: flex;
        justify-content: space-between;
        min-height: 45px;
        align-items: center;
        margin-top: 54px;
        margin-bottom: 72px;
        padding: 0 70px;
        gap: 10%;
    }

    @media (min-width: $descktop-width){
        padding: 0 110px;
        margin-top: 61px;
        margin-bottom: 82px;
        gap: 80px;
    }
}

.order-form__submit{
    margin-top: 34px;
    width: 100%;
    height: 40px;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width){
        margin: 0;
        width: 45%;
        height: 45px;
        font-size: 20px;
    }

    @media (min-width: $descktop-width){
        width: 568px;
    }
}

.order-form__note{
    margin-top: 21px;
    margin-bottom: 32px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    @media (min-width: $tablet-width){
        flex: 1;
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
    }
}