@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald"),
         url("../fonts/oswaldregular.woff2") format("woff2"),
         url("../fonts/oswaldregular.woff") format("woff");
  }

  @font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local("Oswald"),
         url("../fonts/oswaldmedium.woff2") format("woff2"),
         url("../fonts/oswaldmedium.woff") format("woff");
  }

/* Var-color */

$special-text-color: #444444;
$light-text-color: #222222; 
$basic-button-color: #68B738;
$basic-background-color: #f2f2f2;
$special-button-color: #5EAA2F; 
$error-color: #FF8282;
$basic-white-color: #ffffff;  


/* Var-media */

$mobile: 320px;
$tablet: 768px;
$descktop: 1444px; 

/* Global */ 

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

